footer
  .container.text-center
    p.pull-left © 2015 J.Schatz and J.Pollack, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/taipan148/SweetSauce') GitHub Project