extends layout

block content
  h1 Sweet Sauce
  p.lead Automated testing based on Selenium.
  hr
  .row
    .col-sm-6
      h2 Selenium
      p Test with Selenium in many different browsers.

    .col-sm-6
      h2 Test mobile devices
      p Test on iOS and Android devices.
      
    .col-sm-6
      h2 Javascript testing suites
      p Run Javascript tests. We'll let you know when it's done.
      
    .col-sm-6
      h2 Run anything else
      p Anything else that we have available.