extends ../layout

block content
  div(class="page-header test-header" class="test-header-#{test.passed ? 'passed' : 'failed'}")
    h3 #{test.name}
    h4(class="#{test.passed ? 'text-success' : 'text-danger'}") #{test.passed ? 'Passed' : 'Failed'}
    h5
      span
        i(class='fa fa-#{test.platform}') 
      span
        i(class='fa fa-#{test.browserName}') 
      span #{test.version} 
      p Commands: #{commands.length}

  ul#commands.test-commands
    each command in commands
      li.test-command
        if command.hasScreenShot
          .screenshot-content
            a(href='#').screenshot-icon
              i(class='fa fa-camera')
        .command-request 
          each commandRequestLine in command.request
            p #{commandRequestLine}
        .command-response =&gt; #{command.response}
      if command.hasScreenShot
        li.screenshot-area
          a(href='http://localhost:8000/images/ss/#{command.screenshot}' target='_blank')
            img(src='http://localhost:8000/images/ss/#{command.screenshot}', width='300')